rich
matplotlib
pillow
numpy==1.26.3
transformers==4.51.1
diffusers==0.31.0
einops==0.8.0
accelerate==0.30.1
hydra-core==1.3.2
torchdiffeq==0.2.5
omegaconf==2.3.0
opencv-python
seaborn==0.13.2
wandb==0.17.0
peft==0.17.0
bitsandbytes==0.49.0
imgaug
deepspeed==0.16.4
imageio[ffmpeg]
pytest==8.3.5
scikit-learn==1.6.1
gputil
ffmpeg-python==0.2.0
numpydantic==1.6.11
adjustText==1.3.0
tyro==0.9.1
websockets
draccus==0.10.0
pillow==11.0.0
cutoop
#git+https://github.com/thodan/bop_toolkit.git
#git+https://github.com/huggingface/lerobot@638d411cd3acf32c28d8c2120f3c41bda8bb15d4
#git+https://github.com/dlwh/draccus@e48252662a78a847f534766b506c2ac83c57c627
#git+https://github.com/facebookresearch/vggt.git

